<article class="type-system-geometric">
<h1><%= @room.name %></h1>
<hr>
<br>
<h2>Notes:</h2>
<h3><%= @room.notes %></h3>
<br>
<h2>Items:</h2>
<ul>
    <% @room.items.all.each do |item| %>
        <li><h3><a href="/items/<%= item.id %>"><%= item.name.capitalize %></a></h3></li>
   <%  end %>
</ul>
<br>
<hr>
<a href="/rooms/<%= @room.slug %>/edit"><button type="button">Edit Room Details</button></a>
<br><br>
<a href="/items/new"><button type="button">Add New Item</button></a>
<br><br>
</article>