<article class="type-system-geometric">
<h1>Edit Item</h1>
<hr>
<br>
<form action="/items/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= @item.name %>">
    <br>
    <label for="notes">Notes</label>
    <input type="text" name="notes" value="<%= @item.notes %>">
    <br>
    <label for="room">Room</label>
    <% @owner.rooms.each do |room| %>
        <input type="radio" name="room" id="<%= room.name %>" value="<%= room.slug %>" <%= 'checked' if room == @item.room %>><%= room.name.capitalize %></input>
    <% end %>
    <br><br>
    <input type="submit" value="Edit Item">
</form>
<br><br>
</article>