<h1>Move Item</h1>
<h3>Current Room: <%= @item.room.name %></h3>
<form action="/items/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="room">Rooms</label>
    <% @owner.rooms.each do |room| %>
        <% if room != @item.room %>
            <input type="radio" name="room" id="<%= room.name  %>" value="<%= room.slug %>"><%= room.name %></input><br>
        <% end %>
    <% end %>
    <input type="submit" value="Move Item">
</form>