<article class="type-system-geometric">
<h1><%= @item.name %></h1>
<hr>
<br>
<h2>Notes:</h2>
<h3><%= @item.notes %></h3>
<br>
<h2>Location: <%= @item.room.name.capitalize %></h2>
<br>
<hr>
<a href="/items/<%= @item.id %>/edit"><button type="button">Edit Item Details</button></a>
<br>
<br>
<form action="/items/<%= @item.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Item">
</form>
<br><br>
</article>