<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Inventory Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <% if flash.has?(:success) %>
      <div class="flash-success">
        <span><%= flash[:success] %></span>
      </div>
    <% elsif flash.has?(:notice) %>
      <div class="flash-notice">
        <span><%= flash[:notice] %></span>
      </div>
    <% elsif flash.has?(:error) %>
      <div class="flash-error">
        <span><%= flash[:error] %></span>
      </div>
    <% elsif flash.has?(:alert) %>
      <div class="flash-alert">
        <span><%= flash[:alert] %></span>
      </div>
    <% end %>

    <%= yield %>
</body>

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/128-home.png" alt="House image">
  </div>
    <ul>
      <li><a href="/login">Home</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/items">Items</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="www.learn.co">Learn.Co</a></li>
      </ul>
    </div>
</footer>

</html>